@font-face {
  font-family: 'Departure Mono';

  src: url('regular.woff2') format('woff2'),
    url('regular.woff') format('woff');

  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
