---
import "../assets/fonts/departure-mono/index.css";
import "../assets/fonts/YUMEXHA/index.css";
import "@fontsource/noto-sans-jp/900.css";

import LandingPage from "../components/landing";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Miles</title>
  </head>
  <body class="bg-#121213 text-white">
    <LandingPage client:visible />
  </body>
</html>
